.contentPage {
  display: inline-grid !important;
}

.botones {
  height: 4rem;
  border-bottom: 1px solid #727272;
  display: grid;
  justify-content: flex-start !important;
}
.botones > ion-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
