<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="retos">
      <ion-icon aria-hidden="true" name="flag"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="ideas">
      <ion-icon aria-hidden="true" name="bulb"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="postulacion">
      <ion-icon aria-hidden="true" name="hand-left"></ion-icon>
    </ion-tab-button>
    <ion-tab-button> </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="text-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="folder-open-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
