.input-icon-imo {
  background-color: #5757571f;
  height: -webkit-fill-available;
  color: #fe0166;
  border-radius: 50% 0 0 50%;
  padding: 0 1rem 0 1.2rem;
}
.input-text-imo {
  --background: #5757571f;
  --padding-start: 1rem !important;
  --color: #fe0166;
  --border-radius: 50% 0 0 50%;
  --highlight-color-focused: #fe0166;
}
ion-items {
  border: 0;
}
