<ion-content [fullscreen]="true">
  <h1>Login</h1>
  <ion-item>
    <ion-label position="stacked"
      ><ion-icon name="person" class="input-icon-imo"></ion-icon>Etiqueta
      flotante</ion-label
    >
    <ion-input class="input-text-imo" fill="solid" ngModel></ion-input>
  </ion-item>
  <br />
  <ion-item>
    <ion-input
      type="email"
      fill="outline"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-label position="floating">Etiqueta flotante</ion-label>
    </ion-label>
    <ion-input placeholder="something here"></ion-input>
  </ion-item>
  <ion-button routerLink="/colaborador">Ingresar</ion-button>
</ion-content>
