<ion-router-outlet></ion-router-outlet>
<ion-menu contentId="main-content" type="push" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button fill="clear">
          <ion-icon name="chevron-back-outline"></ion-icon> Cerrar
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content
    ><ion-buttons class="contentPage">
      <ion-button class="botones" expand="full"
        ><ion-icon name="person-outline"></ion-icon
        ><span>Editar Perfil</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="lock-closed-outline"></ion-icon
        ><span>Seguridad</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="globe-outline"></ion-icon
        ><span>Idioma</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="notifications-circle-outline"></ion-icon
        ><span>Notificaciones</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Acerca de Nosotros</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Preguntas Frecuentes</span></ion-button
      >
      <ion-menu-toggle>
        <ion-button class="botones" routerLink="/">
          <ion-icon name="log-out-outline"> </ion-icon>
          <span>Cerrar Sesión</span>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons></ion-content
  >
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <h3>Innovactive</h3>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chatbox-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="contentPage">
    <ion-card class="card">
      <ion-card-header class="header-card">
        <span>Alejandro Saveedra</span>
        <div>
          <ion-icon name="heart-outline"></ion-icon>397
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>111
        </div>
      </ion-card-header>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-content class="content-card">
        <div class="descripcion-card">
          <ion-card-title>Idea 1</ion-card-title>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nemo
            aliquam molestiae suscipit hic accusamus inventore,
          </p>
        </div>
        <div style="--num: 85" class="progress-card">
          <svg width="5rem" height="5rem">
            <circle r="25" cx="50%" cy="50%" />
          </svg>
          <div class="progress">
            <h3>85%</h3>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="card">
      <ion-card-header class="header-card">
        <span>Maria Alejandra Aldana</span>
        <div>
          <ion-icon name="heart-outline"></ion-icon>300
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>25
        </div>
      </ion-card-header>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-content class="content-card">
        <div class="descripcion-card">
          <ion-card-title>Idea 2</ion-card-title>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nemo
            aliquam molestiae suscipit hic accusamus inventore,
          </p>
        </div>
        <div style="--num: 60" class="progress-card">
          <svg width="5rem" height="5rem">
            <circle r="25" cx="50%" cy="50%" />
          </svg>
          <div class="progress">
            <h3>60%</h3>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="card">
      <ion-card-header class="header-card">
        <span>Francisco de Asis</span>
        <div>
          <ion-icon name="heart-outline"></ion-icon>185
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>15
        </div>
      </ion-card-header>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-content class="content-card">
        <div class="descripcion-card">
          <ion-card-title>Idea 3</ion-card-title>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nemo
            aliquam molestiae suscipit hic accusamus inventore,
          </p>
        </div>
        <div style="--num: 23" class="progress-card">
          <svg width="5rem" height="5rem">
            <circle r="25" cx="50%" cy="50%" />
          </svg>
          <div class="progress">
            <h3>23%</h3>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
