ion-content {
  --background: #121212;
}
ion-card {
  --background: #242424;
  --color: #fff;
}
.header-card {
  color: #fff;
  height: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
}
.header-card > div > * {
  padding: 0 0.5rem;
}
.content-card {
  display: grid;
  grid-template-columns: 80% 20%;
}
.card {
  max-width: 400px;
  display: list-item;
}
.contentPage {
  display: inline-grid !important;
}
.botones {
  height: 4rem;
  border-bottom: 1px solid #727272;
  display: grid;
  justify-content: flex-start !important;
}
.botones > ion-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
ion-card-title {
  color: #fff;
}
.progress-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-button {
  color: #e74566;
}

circle {
  fill: none;
  stroke: #e74566;
  stroke-width: 5;
  stroke-dashoffset: calc(157 - (157 * var(--num)) / 100);
  stroke-dasharray: 157;
}
