<ion-router-outlet></ion-router-outlet>
<ion-menu contentId="main-content" type="push" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button fill="clear">
          <ion-icon name="chevron-back-outline"></ion-icon> Cerrar
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content
    ><ion-buttons class="contentPage">
      <ion-button class="botones" expand="full"
        ><ion-icon name="person-outline"></ion-icon
        ><span>Editar Perfil</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="lock-closed-outline"></ion-icon
        ><span>Seguridad</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="globe-outline"></ion-icon
        ><span>Idioma</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="notifications-circle-outline"></ion-icon
        ><span>Notificaciones</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Acerca de Nosotros</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Preguntas Frecuentes</span></ion-button
      >
      <ion-menu-toggle>
        <ion-button class="botones" routerLink="/">
          <ion-icon name="log-out-outline"> </ion-icon>
          <span>Cerrar Sesión</span>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons></ion-content
  >
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <h3>Innovactive</h3>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chatbox"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="notifications"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-item class="cardUser">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
              style="border-radius: 50%; border: solid 5px #575757"
            />
          </ion-col>
          <ion-col size="5">
            <span class="f-bold"> Alejandro Fernandez Perez </span>
            <span class="f-size-s"> Colaborador </span>
          </ion-col>
          <ion-col size="4" class="No-Ideas">
            <span class="f-size-xl">100</span>
            <span class="f-size-xs">ideas propuestas</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="ideasUser">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="flash"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <span class="f-bold"
              >Revisa tus ideas en proceso de publicación</span
            >
          </ion-col>
          <ion-col size="2">
            <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <h3 class="titleSeccion">
      <ion-icon name="bulb" class="rosado"></ion-icon> Ideas destacadas
    </h3>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/card-media.png"
            />
            <ion-grid>
              <ion-row>
                <ion-col size="6" class="iconosIdeas">
                  <ion-icon name="heart"></ion-icon> 111
                </ion-col>
                <ion-col size="6" class="iconosIdeas">
                  <ion-icon name="chatbox"></ion-icon> 33
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-header>
              <ion-card-title class="f-size-m"
                >Nombre de la idea</ion-card-title
              >
            </ion-card-header>
            <ion-card-content class="f-size-s">
              Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet,
              consectetur
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img
              alt="Silhouette of mountains"
              src="https://ionicframework.com/docs/img/demos/card-media.png"
            />
            <ion-grid>
              <ion-row>
                <ion-col size="6" class="iconosIdeas">
                  <ion-icon name="heart"></ion-icon> 111
                </ion-col>
                <ion-col size="6" class="iconosIdeas">
                  <ion-icon name="chatbox"></ion-icon> 33
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-header>
              <ion-card-title class="f-size-m"
                >Nombre de la idea</ion-card-title
              >
            </ion-card-header>
            <ion-card-content class="f-size-s">
              Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet,
              consectetur
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="full" fill="clear">
      Ver más ideas<ion-icon name="chevron-down"></ion-icon>
    </ion-button>
    <h3 class="titleSeccion">
      <ion-icon name="star" class="rosado"></ion-icon> Retos Participados
    </h3>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
        />
      </ion-thumbnail>
      <ion-label>
        <span class="f-bold rosado">Nombre del reto</span><br />
        <span class="f-size-s">Por Alejandro Perez Bustamente</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
        />
      </ion-thumbnail>
      <ion-label>
        <span class="f-bold rosado">Nombre del reto</span><br />
        <span class="f-size-s">Por Juliana guantemantec</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
        />
      </ion-thumbnail>
      <ion-label>
        <span class="f-bold rosado">Nombre del reto</span><br />
        <span class="f-size-s">Por Lina Maria Castañeda</span>
      </ion-label>
    </ion-item>
  </ion-content>
</div>
