ion-content {
  --background: #121212;
}
.header-card {
  height: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: end;
}
.header-card > div > * {
  padding: 0 0.5rem;
}
.card {
  max-width: 400px;
  display: list-item;
}
.header-card {
  place-items: center;
}
.contentPage {
  display: inline-grid !important;
}
.botones {
  height: 4rem;
  border-bottom: 1px solid #727272;
  display: grid;
  justify-content: flex-start !important;
}
.botones > ion-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
ion-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.No-Ideas {
  padding-left: 1rem;
  border: solid 1px transparent;
  border-left-color: #e74566;
}
.No-Ideas > span:first-child,
.rosado {
  color: #e74566;
}
.f-bold {
  font-weight: bolder;
}
.f-size-xl {
  font-size: 2.5rem;
}
.f-size-m {
  font-size: 1rem;
}
.f-size-xs {
  font-size: 0.6rem;
}
.f-size-s {
  font-size: 0.8rem;
}
.cardUser {
  --background: linear-gradient(89deg, #7e1bd3 0%, #5f138e 100%) !important;
  --color: #fff;
  border-radius: 0px 0px 10px 10px;
}
.cardUser > ion-grid {
  margin: 0.7rem 0;
}
.ideasUser {
  margin: 1.5rem;
  --background: #e74566;
  --color: #fff;
  border-radius: 10px;
  --border-color: transparent;
}
.ideasUser ion-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.iconosIdeas {
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.9rem;
}
ion-card {
  --background: #242424;
  margin: 0.5rem !important;
  color: #fff;
}
ion-card > ion-grid {
  color: #ff0266;
  border: solid 1px transparent;
  border-bottom-color: #121212;
}
ion-card-title {
  color: #fff;
}
.titleSeccion {
  margin-left: 1rem;
  color: #fff;
}
ion-item > ion-thumbnail {
  width: 30%;
  margin: 1rem 10px;
  --border-radius: 10px;
}
ion-item {
  --color: #fff;
  --background: transparent;
}
ion-button {
  color: #e74566;
}
