<ion-router-outlet></ion-router-outlet>
<ion-menu contentId="main-content" type="push" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button fill="clear">
          <ion-icon name="chevron-back-outline"></ion-icon> Cerrar
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content
    ><ion-buttons class="contentPage">
      <ion-button class="botones" expand="full"
        ><ion-icon name="person-outline"></ion-icon
        ><span>Editar Perfil</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="lock-closed-outline"></ion-icon
        ><span>Seguridad</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="globe-outline"></ion-icon
        ><span>Idioma</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="notifications-circle-outline"></ion-icon
        ><span>Notificaciones</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Acerca de Nosotros</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Preguntas Frecuentes</span></ion-button
      >
      <ion-menu-toggle>
        <ion-button class="botones" routerLink="/">
          <ion-icon name="log-out-outline"> </ion-icon>
          <span>Cerrar Sesión</span>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons></ion-content
  >
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <h3>Innovactive</h3>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chatbox-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-searchbar
      show-clear-button="always"
      clear-icon="trash-bin"
      color="medium"
      animated="true"
    ></ion-searchbar>
    <ion-card class="card">
      <ion-card-header class="header-card">
        <div><ion-icon name="chatbox-ellipses-outline"></ion-icon>111</div>
      </ion-card-header>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-content class="content-card">
        <ion-card-title>Reto 1</ion-card-title>
        <p>Por Monica Cangrejo</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="card">
      <ion-card-header class="header-card">
        <div><ion-icon name="chatbox-ellipses-outline"></ion-icon>89</div>
      </ion-card-header>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-content class="content-card">
        <ion-card-title>Reto 2</ion-card-title>
        <p>Por Pedro Peralda</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="card">
      <ion-card-header class="header-card">
        <div><ion-icon name="chatbox-ellipses-outline"></ion-icon>33</div>
      </ion-card-header>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-content class="content-card">
        <ion-card-title>Reto 3</ion-card-title>
        <p>Por Jesus Santoval</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
