.header-card {
  height: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: end;
}
.header-card > div > * {
  padding: 0 0.5rem;
}
.card {
  max-width: 400px;
  display: list-item;
}
.header-card {
  place-items: center;
}
.contentPage {
  display: inline-grid !important;
}
ion-content {
  --background: #121212;
}
ion-card {
  --background: #242424ab;
  --color: #fff;
}
ion-card-title {
  color: #e74566;
  font-weight: bold;
}
ion-button {
  color: #e74566;
}
.botones {
  height: 4rem;
  border-bottom: 1px solid #727272;
  display: grid;
  justify-content: flex-start !important;
}
.botones > ion-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
