<ion-router-outlet></ion-router-outlet>
<ion-menu contentId="main-content" type="push" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button fill="clear">
          <ion-icon name="chevron-back-outline"></ion-icon> Cerrar
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content
    ><ion-buttons class="contentPage">
      <ion-button class="botones" expand="full"
        ><ion-icon name="person-outline"></ion-icon
        ><span>Editar Perfil</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="lock-closed-outline"></ion-icon
        ><span>Seguridad</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="globe-outline"></ion-icon
        ><span>Idioma</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="notifications-circle-outline"></ion-icon
        ><span>Notificaciones</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Acerca de Nosotros</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Preguntas Frecuentes</span></ion-button
      >
      <ion-menu-toggle>
        <ion-button class="botones" routerLink="/">
          <ion-icon name="log-out-outline"> </ion-icon>
          <span>Cerrar Sesión</span>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons></ion-content
  >
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <h3>Innovactive</h3>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chatbox"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="notifications"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="titulo">
      <ion-icon name="people" class="icono-titulo"></ion-icon>
      <h3>Postulación para comite ideas o mentor de ideas</h3>
    </div>
    <form class="form-postulacion">
      <ion-text>
        *Recuerda mirar en Preguntas frecuentes para conocer las condiciones
        para postularte
      </ion-text>
      <br />
      <ion-text>Nombre Completo</ion-text>
      <ion-input label-placement="floating" fill="outline"></ion-input>
      <br />
      <ion-text>Correo Empresarial</ion-text>
      <ion-input label-placement="floating" fill="outline"></ion-input>
      <br />
      <ion-text
        >¿Estas dispuesto/a a capacitarte en temas de innovación?</ion-text
      ><br />
      <ion-radio-group value="capacitarse" class="radio-group">
        <ion-radio value="si">Si</ion-radio><br />
        <ion-radio value="no">No</ion-radio><br />
      </ion-radio-group>
      <br />
      <ion-text>¿Por qué quieres postularte?</ion-text>
      <ion-textarea labelPlacement="floating" fill="outline"></ion-textarea>
      <br />
      <ion-text>¿A qué rol te gustaría postularte?</ion-text><br />
      <ion-radio-group value="rol" class="radio-group">
        <ion-radio value="Mentor de ideas">Mentor de ideas</ion-radio><br />
        <ion-radio value="Comite de ideas">Comite de ideas</ion-radio><br />
      </ion-radio-group>
      <br />
      <ion-button class="enviarBtn">Enviar</ion-button>
    </form>
  </ion-content>
</div>
