ion-content {
  --background: #121212;
  --color: #fff;
}
ion-button {
  color: #e74566;
}
.contentPage {
  display: inline-grid !important;
}
.botones {
  height: 4rem;
  border-bottom: 1px solid #727272;
  display: grid;
  justify-content: flex-start !important;
}
.botones > ion-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.titulo {
  color: #e74566;
  display: flex;
  margin: 1rem 3rem;
}
.icono-titulo {
  font-size: 5rem;
  margin-right: 0.8rem;
}
.form-postulacion {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}
ion-input,
ion-textarea {
  margin-top: 1rem;
  --background: #242424;
  --color: #fff;
  --border-radius: 16px;
  --padding-start: 1rem;
  --highlight-color-focused: #fff;
}
.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
}
ion-radio::part(container) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
}
ion-radio.radio-checked::part(container) {
  background: #e74566;
  border-color: transparent;
}
ion-radio.radio-checked::part(mark) {
  border-color: transparent;
}
.enviarBtn {
  --background: linear-gradient(270deg, #ff2e63 0%, #4c12ea 100%);
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
  margin-bottom: 2rem;
}
