.ion-icons-small-padding {
  padding-right: 1.5rem;
  font-size: 1.3rem;
}
.header-card {
  height: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: end;
}
.header-card > div > * {
  padding: 0 0.5rem;
}
.card {
  max-width: 400px;
  display: list-item;
}
.header-card {
  place-items: center;
}
.contentPage {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}
.titulo {
  color: #fe0166;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.botones {
  width: 100%;
  height: 4rem;
  box-shadow: 1px 1px #727272;
  display: grid;
  justify-content: flex-start !important;
}
.botones > ion-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
