<ion-router-outlet></ion-router-outlet>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs"></ion-back-button>
      </ion-buttons>
      <ion-title>Regresar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-buttons class="contentPage">
      <ion-button class="botones"
        ><ion-icon name="person-outline"></ion-icon
        ><span>Editar Perfil</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="lock-closed-outline"></ion-icon
        ><span>Seguridad</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="globe-outline"></ion-icon
        ><span>Idioma</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="notifications-circle-outline"></ion-icon
        ><span>Notificaciones</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Acerca de Nosotros</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="information-circle-outline"></ion-icon
        ><span>Preguntas Frecuentes</span></ion-button
      >
      <ion-button class="botones"
        ><ion-icon name="log-out-outline"></ion-icon
        ><span>Cerrar Sesión</span></ion-button
      >
    </ion-buttons>
  </ion-content>
</div>
